.component {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
}

.component th {
    text-align: left;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
}

.component td {
    text-align: left;
    padding: 8px;
}

.component tr:nth-child(even){
    background-color: #f2f2f2
}