@import "../style/common.scss";

.component {
    
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;

    th {
        text-align: left;
        padding: 8px;
        background-color: $table-header-green;
        color: white;
    }

    tr th:first-child {
        @include breakpoint($phone-sz) {
            display:none;
        }
    }

    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){
        background-color: $table-data-stripe;
    }

    tr td:first-child {
        @include breakpoint($phone-sz) {
            display:none;
        }
    }
}